.form-container {
    display: flex;
    flex-direction: column;
    color: black;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #9d97ad;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input, .form-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-input:focus, .form-select:focus {
    border-color: #007bff;
    outline: none;
  }